* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 4.5rem;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 85% 15%;
}

.main,
.sidebar {
  padding: 1em;
  text-align: center;
}

.main img {
  width: 3em;
  position: absolute;
  top: 1%;
  left: 1%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actions {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2em;
}

.actions button {
  display: block;
  padding: 0.7em 1.5em;
  font-weight: bold;
}

.player {
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-items: center;
}

.titles input {
  padding: 0.2em;
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
}

.selection {
  border: 1px solid black;
}

.selection li {
  padding: 0.5em 0;
  border: 1px solid gray;
}

.speed input {
  padding: 2em 0;
  width: 100%;
}
